.navbar, .navbar-brand{
    background-color: #7792E0;
    color: white;
}

.yop{
    margin-top: 38px;
}


.nav-link{
    margin-right: 10px;
    margin-left: 10px;
    background-color: #C2684A;
    color: white;
}

.img-flui{
    background-color: bisque;
}

