<div>
    <header>
        <nav class="navbar navbar-expand-md navbar-succes bg-sucess">
            
            <ul class="navbar-nav">
                <div><app-ap-logo></app-ap-logo></div>
                <div class="yop">#YoProgramo</div>
                <li></li>
            </ul>
    
            <ul class="navbar-nav navbar-collapse justify-content-end">
                <li><app-redes></app-redes></li>
                <li><button  *ngIf="!authentication.isUserLogged()" class="nav-link btn btn-primary" routerLink="/login" routerLinkActive="active">Login</button></li>
                <li><button (click)="logout()"  *ngIf="authentication.isUserLogged()" class="nav-link btn btn-primary" routerLink="/" routerLinkActive="active">Logout</button></li>
            </ul>
        </nav>
    </header>
    <app-banner></app-banner>
    <app-about></app-about>
    <app-experiencia></app-experiencia>
</div>

