<a href="datoRedes.urlLinke" class="mx-1" target="_blank" >
    <img src="./../assets/linkedin.png" id="linke" alt="logo LinkedIn">
</a>

<a href="https://github.com/WalterGimenez" class="ms-auto mx-1" target="_blank">
    <img src="./../assets/github.png" id="git" alt="logo Github">
</a>

<a href="datoRedes.urlInsta" class="mx-1" target="_blank">
    <img src="./../assets/instagram.png" id="insta" alt="logo Instagram">
</a>

<a href="datoRedes.urlInsta" class="mx-1" target="_blank">
        <img src="./../assets/facebook.png" id="face" alt="logo Instagram">
</a>


